* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* header styles start */
header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgb(5, 199, 199);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55w;
}

/* header styles end */

.hero {
    background-image: url('../images/hero.JPG');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15%;
    background-attachment: fixed;
    background-position: 100%;
}

.hero h2 {
    font-size: 55px;
}

.hero img {
    max-width: 25%;
    margin: 15px auto;
}

.section-title {
    font-size: 48px;
    padding-bottom: 20px;
    text-align: left;
    margin: 50px 35px 50px 35px;
    width: 50%;
}

section p {
    font-size: 18px;
    padding-bottom: 20px;
    margin: 50px auto 50px 35px;
}

.flex-row {
    display: flex;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.projects a {
    text-decoration: none;
    color: black;
}

.first {
    padding: 100px;
    flex: 1;
    border: 2px solid black;
    background-image: url(../images/Run-Buddy.png);
    background-size: cover;
    background-position: 80%;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.additional {
    padding: 50px;
    border: 2px solid black;
    flex: 1;
    background-color:rgb(5, 199, 199);
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.Horiseon {
    background-image: url(../images/Horiseon.png);
    Background-size: cover;
}