* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* header styles start */
header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgb(1, 223, 223);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55w;
}

/* header styles end */

.hero {
    background-image: url('../images/hero.JPG');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15%;
    background-attachment: fixed;
    background-position: 100%;
}

.hero h2 {
    font-size: 55px;
}